---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";
import { formatBlogPosts } from "@utils/helpers";

const allBlogPosts = await getCollection("blog");
const formattedBlogPosts = formatBlogPosts(allBlogPosts);

const title = "All Blog Posts";
const description = "This page contains all our blog posts";
---

<BaseLayout title={title} description={description}>
    <main class="layout py-8 grid gap-8 card-container">
        {formattedBlogPosts.map((post) => <BlogCard post={post} />)}
    </main>
</BaseLayout>
