---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";

const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<BaseLayout title={title} description={description}>
  <main class="layout">
    <div class="prose lg:prose-lg mx-auto">
      <h1 class="font-semibold mx-auto text-2xl lg:text-3xl">
        Welcome to <span class="font-bitter text-red-700">{title}</span>, the
        internet's newest and quirkiest amateur journalism blog!
      </h1>
      <p>
        We're a bunch of misfits and mavericks who are passionate about sharing
        stories that make you go "huh" and perspectives that you won't find in
        the mainstream media. We're not journalists by trade (in fact, some of
        us struggle with spelling), but we're damn good at writing and we love
        what we do.
      </p>
      <p>
        Our team is made up of all kinds of characters, from the witty and
        sarcastic to the earnest and empathetic. Some of us are just getting
        started with writing long form content and trying to figure out how to
        use this <em>"internet blog thing".</em> But one thing's for sure: we're
        all here to have fun and share stories that matter.
      </p>
      <p>
        At {title}, we cover a wide range of topics, from the serious (politics
        and social justice) to the not-so-serious (cat memes and celebrity
        gossip). We believe that every story has value, no matter how weird or
        wacky it may seem.
      </p>
      <p>
        We invite you to join us on this wild ride and become a part of our
        community. Whether you're a reader, a contributor, or just someone who
        stumbled upon our blog by accident, we're happy to have you here. So
        grab a cup of coffee (or tea, or whiskey, or whatever floats your boat),
        kick back, and enjoy the ride!
      </p>
    </div>
  </main>
</BaseLayout>
