---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "About Page";
const description = "this is the about page";
---

<BaseLayout title={title} description={description}>
    <main class="layout">
        <h1 class="text-3xl font-bold text-center">{title}</h1>

        <p class="mt-10 max-w-screen-md mx-auto">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
            consequuntur vero beatae minima odio inventore enim totam laborum
            nobis odit aperiam eum fuga incidunt iste, nisi, molestiae eligendi.
            Voluptatum possimus non ex repudiandae modi fuga, sunt ipsa minima
            eligendi nihil laborum et voluptatem ipsam reiciendis excepturi nemo
            tenetur expedita in pariatur aut. Ullam pariatur laboriosam earum
            fuga iure neque, veniam inventore rerum saepe deleniti
            necessitatibus similique amet harum cum ipsa ad nulla minus eligendi
            iusto quia, voluptate possimus asperiores, eius accusamus? Soluta,
            libero? Ipsa, ullam aliquam in maxime non placeat officiis minus
            corporis repudiandae quaerat, deserunt magni nulla cumque. Voluptas
            quam perspiciatis aspernatur, tempore suscipit facilis eos
            dignissimos? Voluptate reiciendis officia ipsum. Ad deleniti
            corrupti recusandae hic eos quaerat magni. Saepe iusto porro
            officiis veritatis libero enim repudiandae unde corrupti, eligendi
            cum dolor et exercitationem? Praesentium explicabo dolor, libero
            quidem in perferendis voluptatibus cumque vero non distinctio
            tempore provident ad adipisci esse, culpa dignissimos facere
            pariatur iure. Suscipit temporibus natus deserunt libero dolorem
            eligendi excepturi voluptas laborum quos dicta dignissimos,
            voluptate magnam ratione ad quia quisquam autem fugit veritatis
            asperiores similique qui ab inventore cumque! Quam amet pariatur
            quia id odio autem eum sequi provident cupiditate minus error
            tempora quo voluptas praesentium quasi deserunt perferendis
            repudiandae, maxime aspernatur laudantium quos? Autem vel tempora
            nemo. Perferendis at, dolores nobis id nesciunt atque doloribus
            quibusdam possimus facere ad nulla adipisci pariatur minima,
            repellendus expedita aspernatur ex? Debitis illo assumenda, ipsa
            quod hic vel mollitia dolores voluptatem architecto repellat
            reiciendis vitae aliquid quaerat voluptates praesentium ab? Nisi
            deleniti, amet hic eos sint magni distinctio temporibus modi numquam
            alias velit maiores repudiandae iusto aliquid quibusdam totam sequi,
            aut nesciunt saepe voluptas ipsa vero sapiente ab. Perspiciatis
            atque totam fugiat id fuga, beatae, veritatis quibusdam ex optio
            sint blanditiis magni nesciunt pariatur rerum, aut eos alias qui
            minima! Veniam ex repudiandae nostrum doloribus mollitia veritatis
            et recusandae! Explicabo repudiandae dicta sit, nesciunt officiis
            praesentium maxime rem doloribus aliquid temporibus. Atque
            reprehenderit id ducimus. Mollitia sapiente deserunt eveniet
            expedita cum aspernatur culpa consequuntur doloremque, ipsa, saepe
            ea cumque eum similique voluptas. Porro, aliquid aliquam suscipit
            quos aspernatur dolor illum dolore perferendis quae natus
            repudiandae vel sunt rerum libero praesentium laudantium autem animi
            officia excepturi consequuntur id et laborum ullam! Ipsum a tenetur
            et obcaecati nulla facilis eaque ut nam aperiam! Ipsa, id modi?
            Explicabo quasi possimus, dolorem eligendi, consequuntur labore sit,
            quia quae ullam obcaecati commodi.
        </p>
    </main>
</BaseLayout>
