---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import FeaturedBlogCard from "@components/FeaturedBlogCard.astro";
import { formatBlogPosts } from "@utils/helpers";
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "src/consts";

const allBlogPosts = await getCollection("blog");
const formattedBlogPosts = formatBlogPosts(allBlogPosts);

const title = SITE_TITLE;
const description = SITE_DESCRIPTION;
---

<BaseLayout title={title} description={description}>
	<main class="layout py-8">
		{formattedBlogPosts.map((post) => <FeaturedBlogCard post={post} />)[0]}

		<div class="grid gap-8 mt-8 card-container">
			{
				formattedBlogPosts
					.slice(1)
					.map((post) => <BlogCard post={post} />)
			}
		</div>
	</main>
</BaseLayout>
