---
import { Picture } from "@astrojs/image/components";
---

<footer class="bg-black text-gray-200">
    <div class="grid md:grid-cols-3 gap-8">
        <div>
            <Picture
                src="/images/thought-explorer.png"
                alt="website logo"
                widths={[200, 400, 600]}
                sizes="(max-width: 800px) 100vw, 600px"
                aspectRatio="2:1"
                format="webp"
                class="h-full"
            />
        </div>
        <div class="md:col-span-2 flex items-center justify-center">
            This is the second one
        </div>
    </div>
</footer>
