---
const footer = [
  { text: "Blog", link: "/blog" },
  { text: "About", link: "/about" },
  { text: "Contact", link: "/contact" },
];
---

<footer class="bg-black/90 text-gray-300 py-8 mt-6 lg:mt-8">
  <div class="layout text-center">
    <p>Copyright © 2023 | The Thought Explorer.</p>
    <p>All rights reserved.</p>
  </div>
</footer>
