---
import "@fontsource/fondamento";

const nav = [
  { text: "Home", link: "/" },
  { text: "Blog", link: "/blog" },
  { text: "About", link: "/about" },
  { text: "Contact", link: "/contact" },
];
---

<header class="py-4 lg:py-6 mb-6 lg:mb-8 bg-brand-gray text-brand-white">
  <div class="layout flex flex-wrap justify-between items-center">
    <a href="/" class="font-fondo text-2xl font-bold tracking-wide"
      >The Thought Explorer</a
    >
    <div id="toggle" class="md:hidden cursor-pointer text-xl">&#9776;</div>
    <nav id="nav" class="hidden md:flex w-full md:w-auto">
      <ul class="flex flex-col pt-4 md:pt-0 md:flex-row">
        {
          nav.map((item) => (
            <li class="py-4 md:py-0 md:px-6">
              <a href={item.link} class="font-medium hover:text-red-400 block">
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const toggle = document.getElementById("toggle");
  const nav = document.getElementById("nav");

  toggle.addEventListener("click", () => {
    nav.classList.toggle("hidden");
  });
</script>
