---
const nav = [
    { text: "Home", link: "/" },
    { text: "Blog", link: "/blog" },
    { text: "About", link: "/about" },
    { text: "Contact", link: "/contact" },
];
---

<header class="py-4 shadow">
    <div class="layout flex flex-wrap justify-between items-center">
        <a href="/">
            <span class="font-heading font-semibold text-2xl"
                >The Thought Explorer.</span
            >
        </a>
        <div id="toggle" class="md:hidden cursor-pointer text-xl">&#9776;</div>
        <nav id="nav" class="hidden md:flex w-full md:w-auto">
            <ul class="flex flex-col pt-4 md:pt-0 md:flex-row gap-4 md:gap-8">
                {
                    nav.map((item) => (
                        <li class="font-medium font-lg hover:text-purple-900">
                            <a href={item.link}>{item.text}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<script>
    document.getElementById("toggle").addEventListener("click", () => {
        document.getElementById("nav").classList.toggle("hidden");
    });
</script>
